# .env.example

# MongoDB Connection String
MONGODB_URI=mongodb://<username>:<password>@localhost:27017/<database>

# Other settings needed for deployment
NODE_ENV=production
JWT_SECRET=<your_jwt_secret>
PORT=3000
